<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Bootstrap probado correctamente-->
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8"/>
    <title th:text="${titulo1}">No debe presentarse</title>
</head>
<body>
<h1 class="text-capitalize blue" th:text="${mensaje}"></h1>

<h2 class="bg-warning" th:text="${matricula}"></h2>

<h1></h1>



<script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</body>
</html>